.articles-list {
    margin: 30px 0 30px;
    display: flex;
    gap: 30px;
}

.article-image {
    aspect-ratio: 515/227;
    overflow: hidden;
}

.article-image img {
    aspect-ratio: 515/343;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

    transition: all 0.3s ease-in-out;
}

.article-card {
    background-color: #F5F5F5;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.articles-list .article-card:nth-child(2) .article-image img {
    object-position: top;
}

.article-info {
    padding: 18px 0;
    max-width: 308px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

span.article-date {
    line-height: 1.5;
    font-size: 14px;
    color: #000;
    opacity: 0.7;
    margin-bottom: 5px;
}

h4.article-title {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 10px;
}

a.article-link {
    color: #68C022;
    opacity: 1;
    font-weight: 600;
    border-bottom: 1px solid #68C022;
    transition: all 0.3s ease-in-out;
}

a.article-link:hover {
    color: #FF9E0A;
    border-bottom: 1px solid #FF9E0A;
}

.articles-section .section-heading {
    position: relative;
}

.articles-section .section-heading h2 {
    text-align: center;
    line-height: 1.4;

}

.view-all-link {
    position: absolute;
    right: 0;
    top: 50%;
    color: #47454B;
    transform: translate(0, -50%);
    border-bottom: 1px solid #47454B;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    transition: all 0.3s ease-in-out;
}

.view-all-link:hover {
    color: #68C022;
    border-bottom: 1px solid #68C022;
}

.article-card:hover .article-image img {
    transform: scale(1.05)
}

@media (max-width:1199px) {
    .articles-list {
        margin: 30px 0 50px;
        gap: 20px;
    }

    .article-info {
        padding: 18px;
    }

    h4.article-title {
        font-size: 14px;
    }
}

@media (max-width:768px) {
    .articles-list {
        flex-wrap: wrap;
    }

    .article-card {
        width: 100%;
    }
}